{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="col">
            {% for item in basket_items %}
                <div class="row">
                    <div class="col-4">
                        <img src="/media/{{ item.product.photo }}"
                             alt="{{ item.product.short_desc }}" class="float-left" style="width: 150px">
                    </div>
                    <div class="col">
                        <div class="text-left ml-3">{{ item.product.category.name }}</div>
                        <div class="text-left ml-3">{{ item.product.name }}</div>
                        <div class="">{{ item.product.price }}&nbspруб</div>
                        <input type="number" name="{{ item.pk }}"
                               min="0"
                               value="{{ item.quantity }}" class="text-left">
                        {#                    <div class="product_cost">{{ item.cost }}&nbspруб</div>#}
                        <button class="btn btn-danger">
                            <a href="{% url 'basket:remove' item.pk %}" class="">
                                удалить
                            </a>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>

        {#        {% if basket_items %}#}
        {#            <div class="basket_summary">#}
        {#                В корзине {{ basket_items.0.total_quantity }} товаров общей стоимостью#}
        {#                {{ basket_items.0.total_cost }} руб#}
        {#            </div>#}
        {#        {% endif %}#}

        {#        <button class="btn btn-round">#}
        {#            <a href="{% url 'main' %}">на главную</a>#}
        {#        </button>#}
    </div>
{% endblock %}
