{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h1>Каталог</h1>
    <div class="categories">
{#        {% for foo in categorys %}#}
{#            <div class="category">#}
{#                <ul>#}
{#                    <li>{{ foo.name }}</li>#}
{#                </ul>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
    <div class="lots">
        <div class="lot_1">
            <div class="picture">
                <a href="{% url 'lot_1' %}" target="_blank"><img src="{% static 'img/lot_1.jpg' %}" alt="catana"
                                                                 width="300"></a>
                <div class="link"><a href="{% url 'lot_1' %}" target="_blank">CATANA EX TELESPIN 165UL</a></div>
            </div>
        </div>
        <div class="lot_2">
            <div class="picture">
                <a href="{% url 'lot_2' %}" target="_blank"><img src="{% static 'img/lot_2.jpg' %}"
                                                                 alt="descent ice reel"
                                                                 width="300"></a>
                <div class="link"><a href="{% url 'lot_2' %}" target="_blank">Fishing Descent Ice Reel</a></div>
            </div>
        </div>
        <div class="lot_3">
            <div class="picture">
                <a href="{% url 'lot_3' %}" target="_blank"><img src="{% static 'img/lot_3.jpg' %}" alt="catana"
                                                                 width="300"></a>
                <div class="link"><a href="{% url 'lot_3' %}" target="_blank">Minnow 130SP 07</a></div>
            </div>
        </div>
    </div>
{% endblock %}