<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/css/style.css"> </head>

<body>
    <!--start header-->
    <!--start header-->
    <div class="header">
        <div class="logo"><img src="/static/img/logo.png" alt="logo" style=""></div>
        <div class="menu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/catalog/">Каталог</a></li>
                <li><a href="/contacts/">Контакты</a></li>
            </ul>
        </div>
    </div>
    <!--end header-->
    <!--end header-->
    <hr>
    <h1>Каталог</h1>
    <div class="lots">
        <div class="lot_1">
            <div class="picture">
                <a href="/catalog/lot_1/" target="_blank"><img src="/static/img/lot_1.jpg" alt="catana" width="300"></a>
                <div class="link"><a href="/catalog/lot_1/" target="_blank">CATANA EX TELESPIN 165UL</a></div>
            </div>
        </div>
        <div class="lot_2">
            <div class="picture">
                <a href="/catalog/lot_2/" target="_blank"><img src="/static/img/lot_2.jpg" alt="descent ice reel" width="300"></a>
                <div class="link"><a href="/catalog/lot_2/" target="_blank">Fishing Descent Ice Reel</a></div>
            </div>
        </div>
        <div class="lot_3">
            <div class="picture">
                <a href="/catalog/lot_3/" target="_blank"><img src="/static/img/lot_3.jpg" alt="catana" width="300"></a>
                <div class="link"><a href="/catalog/lot_3.html" target="_blank">Minnow 130SP 07</a></div>
            </div>
        </div>
    </div>
    <!--start footer-->
    <div class="footer">
        <hr>
        <p>2020-2020 &copy; fishing.planet
            <br> Все права защищены.</p>
    </div>
    <!--end footer-->
</body>

</html>