{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <hr>
    <h1>Напишите нам</h1>
    <table>
        <tr>
            <td>Ваше имя</td>
            <td>
                <input type="text" size="40"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>
                <input type="email" size="40" class="email"></td>
        </tr>
        <tr>
            <td>Тема</td>
            <td>
                <input type="text" size="40"></td>
        </tr>
        <tr>
            <td colspan="2">
                <textarea name="comment" cols="50" rows="3"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Отправить"></td>
            <td>
                <input type="reset" value="Очистить"></td>
        </tr>
    </table>
    <h3>Адрес</h3>
    <p>Контактный номер телефона: <b>+7-999-99-99</b></p>
    <p>Адрес: <b>г. Санкт-Петербург, ул. Симонова, д.100</b></p>
    <p>Email: <b>fishing@planet.com</b></p>
    <h3>Как нас найти</h3>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3b12966ce81da84294c8899b7dc26e0434177ee0c57a8a8531b7d71d22b0b118&amp;width=100%25&amp;height=374&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
{% endblock %}